<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>
  <log4net configSource="log4net.config"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>


  <appSettings>

    <add key="ApplicationName" value="VhR SimpleGrblgui"/>

    <add key="ComPort" value="COM12"/>
    <add key="Baudrate" value="115200"/>
    <add key="ReadBufferSize" value="2048"/>
    <add key="WriteBufferSize" value="2048"/>
    <add key="ReceivedBytesThreshold" value="2"/>
    <add key="CommandBufferCapacity" value="125"/>

    <!--See https://github.com/grbl/grbl/wiki/Interfacing-with-Grbl (min = 200 msec = 0.2 sec = 5 Hz)-->
    <add key="PollingInterval" value="300"/>


    <add key="CorrectionX" value="-39.101"/>
    <add key="CorrectionY" value="-52.849"/>
    <add key="CorrectionZ" value="-14.700"/>

    <add key="Camera" value="true"/>


  </appSettings>




</configuration>
