<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
  
  <appSettings>

    <add key="ApplicationName" value="VhR SimpleGrblgui"/>
    
    <add key="ComPort" value="COM3"/>
    <add key="Baudrate" value="115200"/>
    <add key="ReadBufferSize" value="2048"/>
    <add key="WriteBufferSize" value="2048"/>
    <add key="ReceivedBytesThreshold" value="2"/>
    <add key="CommandBufferCapacity" value="128"/>
    
    <!--See https://github.com/grbl/grbl/wiki/Interfacing-with-Grbl (min = 200 msec = 0.2 sec = 5 Hz)-->
    <add key="PollingInterval" value="200"/>


    <add key="CorrectionX" value="-39.086"/>
    <add key="CorrectionY" value="-52.812"/>
    <add key="CorrectionZ" value="-14.650"/>
    
     <add key="Camera" value="true"/>
  

  </appSettings>
    
      
        
  
</configuration>
